<div class="row">
    <div class="col-12">
        <h1 class="text-primary text-uppercase">
            Courses page
        </h1>
    </div>
</div>

<div class="row my-2">
    {{#if courses.length}}
        {{#each courses}}
            <div class="col-12 col-md-3 d-flex align-items-streech mb-1">
                <div class="card border-0 shadow-sm">
                    <img src="{{url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title m-0">{{title}}</h5>
                    </div>
                    <div class="card-body">
                        <p>Price: <span class="price">{{price}}</span></p>
                        <a href="/courses/{{id}}" class="card-link text-primary">About course</a>
                        <a href="/courses/{{id}}/edit?allow=true" class="card-link text-warning">Edit course</a>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>There is no course tu buy</p>
    {{/if}}
</div>