<div class="row">
    <div class="col-12">
        <h1 class="text-primary text-uppercase">
            Courses page
        </h1>
    </div>
</div>

<div class="row my-2">
    {{#if courses.length}}
        {{#each courses}}
            <div class="col-12 col-md-3 d-flex align-items-streech mb-2">
                <div class="card border-0 shadow-sm">
                    <img src="{{url}}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title m-0">{{title}}</h5>
                    </div>
                    <div class="card-body">
                        <p>Price: <span class="price">{{price}}</span></p>
                        <div class="d-flex align-items-center justify-content-between">
                            <a href="/courses/{{id}}" class="btn btn-sm btn-primary">About course</a>
                            <a href="/courses/{{id}}/edit?allow=true" class="btn btn-sm btn-warning">Edit course</a>
                            <form action="/card/add" method="post">
                                <input type="hidden" name="id" value="{{id}}">
                                <button type="submit" class="btn btn-sm btn-success">Add card</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        {{/each}}
    {{else}}
        <p>There is no course tu buy</p>
    {{/if}}
</div>